body {
    background-color: black;
    color: white;
}

.header {
    height: 100px;
    width: 92vw;
    background-color: none;
    margin: auto;
}

.search_icon {
    width: 40px;
    height: 21px;
    background-color: white;
}

input.underline {
    border: none;
    
}

input::-webkit-input-placeholder {
    color: gray;
    background-color: none;
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    /* font-style: italic; */
    /* font-weight: bold; */
    letter-spacing: 1px;
    /* line-height: 1.5em; */
    text-align: center;
    text-decoration: underline;
  }

.current_box {
    width: 78vw;
    height: 550px;
    margin: auto;
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,40,46,1) 100%);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sunrise_box {
    width: 5vw;
    height: 100px;
    background-color: orange;

    grid-column: 1/2;
}

.sunrise_icon {

}

.sunrise_time {

}

.sunset_box {
    width: 5vw;
    height: 100px;
    background-color: orange;
    margin: auto;
    margin-right: 0;

    grid-column: 7/8;
}

.sunset_icon {
    
}

.sunset_time {

}

.current_temperature_box {
    width: 16vw;
    height: 300px;
    margin: auto;
    grid-column: 4/5;
    grid-row: 1/2;
}

.current_temperature {
    font-size: 150px;
    color: white;
    margin: auto;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.super {
    vertical-align: super;
    font-size: 75px;
}

.location {
    font-size: 15px;
    color: #FFB619;
    margin: auto;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.current_date_time {
    font-size: 15px;
    color: white;
    margin: auto;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.current_description {
    font-size: 35px;
    color: white;
    margin: auto;
    margin-top: 30px;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.current_detail {
    width: 78vw;
    height: 101px;
    grid-row: 2/3;
    grid-column-start: 1;
    grid-column-end: 8;
    position: relative;
    bottom: 0px;
}

.current_high {
    width: 5vw;
    height: 100px;
    /* grid-column: 1/2;
    grid-row: 2/3; */
    margin-bottom: 0;
    position: relative;
    bottom: 0px;
}

.high {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.high_number {
    font-size: 35px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.current_humidity {
    width: 5vw;
    height: 100px;
    /* grid-column: 2/3;
    grid-row: 2/3; */
    position: relative;
    bottom: 0px;
}

.humidity {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.humidity_number {
    font-size: 35px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.current_precipitation {
    width: 5vw;
    height: 100px;
    /* grid-column: 3/4;
    grid-row: 2/3; */
    position: relative;
    bottom: 0px;
}

.precipitation {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.precipitation_number {
    font-size: 35px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.current_low {
    width: 5vw;
    height: 100px;
    /* grid-column: 4/5;
    grid-row: 2/3; */
    position: relative;
    bottom: 0px;
}

.low {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.low_number {
    font-size: 35px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.daily_box {
    width: 100vw;
    height: 411px;
    margin: auto;
    margin-top: 30px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.title1 {
    transform: rotate(-90deg);
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.day1_box {
    width: 26vw;
    height: 411px;
    background-color: #002F36;
    border-width: 1px;
    border-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.day {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.precipitation2 {
    width: 9vw;
    height: 180px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.description {
    font-size: 35px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.raindrop_icon {
    width: 21px;
    height: 21px;
    background-color: none;
    transform: rotate(45deg);
    margin: auto;
    position: relative;
}

.precipitation2_chance {
    font-size: 26px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.detail1 {
    width: 26vw;
    height: 85px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.day2_box {
    width: 26vw;
    height: 411px;
    background-color: #002F36;
    border-width: 1px;
    border-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.detail2 {
    width: 26vw;
    height: 85px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.day3_box {
    width: 26vw;
    height: 411px;
    background-color: #002F36;
    border-width: 1px;
    border-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.detail3 {
    width: 26vw;
    height: 85px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.hourly_box {
    width: 100vw;
    height: 305px;
}

.title2 {
    transform: rotate(-90deg);
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.hourly_grid {
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.hour1 {
    width: 19vw;
    height: 145px;
    background-color: #002F36;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon_01n {
    width: 81px;
    height: 82px;
    background-color: none;
    margin: auto;
}

.time {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.temperature {
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.precipitation3_chance {
    font-size: 15px;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: auto;
}

.icon_01d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 16vw;
    height: 310px;
    grid-column: 5/6;
    grid-row: 1/2;
    margin: auto;
  }
  
  .icon_02d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_03d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_04d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_09d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_10d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_11d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_13d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }
  
  .icon_50d {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81px;
    height: 82px;
    margin: auto;
  }